* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", "Arial", sans-serif;
}

.site-header {
    width: 100%;
    position: fixed;
    display: flex;
    padding-top: 29px;
    padding-bottom: 41px;
    align-items: center;
    background-color: rgb(252, 209, 209);
    margin: 0 auto;
}

.site-logo {
    width: 106px;
    height: 54px;
    margin-right: 253px;
    padding-left: 129px;
}

.nav-list {
    display: flex;
}

.nav-list li {
    list-style-type: none;
    margin-right: 25px;
}

.nav-list a {
    text-decoration: none;
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #263238;
}

.nav-button {
    text-decoration: none;
    margin-left: 150px;
    border: solid 1px #000;
    padding: 17px 57px;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 51px;
}

.container {
    padding-top: 40px;
    padding-right: 10px;
    padding-left: 10px;
}

.site-hero {
    display: flex;
    align-items: center;
    margin-bottom: 90px;
}

.hero-text {
    margin-right: 120px;
}

.hero-title {
    display: flex;
    font-weight: 600;
    font-size: 44px;
    line-height: 80px;
    color: #000000;
    padding-left: 89px;
    margin-bottom: 40px;
}

.hero-subtitle {
    width: 432px;
    height: 108px;
    font-size: 20px;
    line-height: 36px;
    color: #8F95A5;
    padding-left: 87px;
    margin-bottom: 61px;
}

.hero-button {
    background: #263238;
    border-radius: 10px;
    text-align: center;
    margin-left: 80px;
    text-decoration: none;
    font-size: 26px;
    color: #FFFFFF;
    padding: 32px 100px;
}

.skills {
    margin-bottom: 90px;
}

.skills-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: #000000;
    text-align: center;
    margin-bottom: 70px;
}

.skills-cards img {
    width: 150px;
    height: 150px;
}

.card1 {
    width: 435px;
    height: 824px;
    background: #F5F5F5;
    border-radius: 11px;
    margin-left: 18px;
    margin-right: 5px;
}

.card-title {
    font-weight: 600;
    font-size: 30px;
    color: #263238;
    padding-left: 43px;
    margin-bottom: 10px;
}

.card-subtitle {
    font-size: 16px;
    /* line-height: 24px; */
    color: #8F95A5;
    margin-bottom: 36px;
    padding-left: 43px;
}

.card-link {
    background: #263238;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    padding: 16px 40px;
    text-decoration: none;
    margin-left: 43px;
}

.card2 {
    width: 434px;
    height: 408px;
    background: #F5F5F5;
    border-radius: 1px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.card3 {
    width: 435px;
    height: 408px;
    background: #F5F5F5;
    border-radius: 1px;
}

.card3 img {
    margin-bottom: 30px;
    margin-left: 20px;
}

.card4 {
    width: 875px;
    height: 403px;
    background: #F5F5F5;
    border-radius: 1px;
    margin-bottom: 100px;
}

.cardGroup2 {
    display: flex;
}

.skills-cards {
    display: flex;
}

.aboutUs {
    display: flex;
    flex-basis: 50%;
    margin-left: 60px;
}

.aboutUs-title {
    font-size: 48px;
    line-height: 80px;
    color: #000000;
    margin-bottom: 23px;
    margin-left: 18px;
}

.aboutUs-subtitle {
    width: 535px;
    height: 240px;
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
    margin-bottom: 30px;
    margin-left: 18px;
}

.aboutUs-statistika {
    display: flex;
    flex-basis: 50%;
}

.statis {
    margin-right: 100px;
    margin-left: 18px;
}

.statis .number {
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: #2A3246;
}

.statis .text {
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
}

.aboutUs-img {
    width: 500px;
    height: 500px;
    margin-bottom: 100px;
}

.price {
    margin-bottom: 150px;
}

.price-cards {
    display: flex;
    flex-basis: 33.3%;
    align-items: center;
    justify-content: space-around;
}

.price-title {
    text-align: center;
    margin-bottom: 70px;
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: #000000;
}

.price-cards img {
    width: 400px;
    height: 400px;
}

.price-card-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 48px;
    color: #263238;
    margin-bottom: 10px;
    padding-left: 9px;
}

.price-card-subtitle {
    width: 420px;
    height: 120px;
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
    padding-left: 9px;
}

.card-footer {
    width: 220px;
    display: flex;
    align-items: center;
    background: #EEEEEE;
    border-radius: 5px;
    margin-left: 9px;
}

.price-card-money {
    font-size: 30px;
    line-height: 45px;
    color: #263238;
    margin-right: 8px;
}

.price-card-month {
    font-size: 18px;
    line-height: 27px;
    color: #546269;
}

.contactUs {
    display: flex;
    flex-basis: 50%;
    margin-bottom: 150px;
}

.contactUs img {
    margin-right: 120px;
    margin-left: 50px;
}

.contactUs h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: #000000;
    margin-bottom: 37px;
}

.contactUs p {
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
    margin-bottom: 52px;
}

.contactUs input {
    width: 350px;
    border: 1px solid #8F95A5;
    box-sizing: border-box;
    padding: 26px 30px;
    margin-right: 10px;
}

.contactUs button {
    width: 250px;
    background: #263238;
    border-radius: 10px;
    padding: 21px 70px;
}

.contactUs a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    /* line-height: 30px; */
    color: #FFFFFF;
}

footer {
    display: flex;
    justify-content: space-between;
    padding-left: 131px;
    padding-right: 131px;
    padding-bottom: 50px;
}

.footer-links {
    font-size: 20px;
    line-height: 36px;
    color: #8F95A5;
}

hr {
    margin-bottom: 31px;
}